/* .thumbnail-card {
    height: 100px;
    width: 100px;
    position: absolute;
} */

.thumbnail-card-details {
    background-color: black;
    height: 400px;
    width: 800px;
    position: absolute;
    margin-top: 150px;
    opacity: 1;
    text-align: left;
    padding-left: 15px;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.thumbnail-card-details h1 {
    color: white;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
