.thumbnail-card-details {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: left;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.thumbnail-card-details h1 {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumbnail-card-details h2 {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumbnail-card img {
    height: 400px;
}


@media screen and (max-width: 480px){
    .thumbnail-card-details {
        grid-template-columns: 1fr;

    }

    .thumbnail-card-details h1 {
        font-size: 30px;
    }

    .thumbnail-card-details h2 {
        font-size: 20px;
    }

    .thumbnail-card img {
        height: 200px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    /* .thumbnail-card-details {
        grid-template-columns: 1fr;
    } */

    .thumbnail-card-details h1 {
        font-size: 40px;
    }

    .thumbnail-card-details h2 {
        font-size: 30px;
    }

    .thumbnail-card img {
        height: 300px;
    }
}
