.card-wrapper {
    /* height: 300px;
    width: 100%; */
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.card-wrapper .card-body img {
    height: 300px;
    width: 100%;
}

.card-wrapper .card-footer {
    margin-top: -60px;
    position: absolute;
    margin-left: 40px;
}

.card-footer button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.card-footer button:hover {
    color: white;
    background-color: green;
}

.card-wrapper .favourite {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: white;
    opacity: 0.5;
    margin-top: -290px;
    margin-left: 170px;
    position: absolute;
}

.card-wrapper .favourite .icon {
    margin-top: 7px;
}

.card-wrapper .favourite:hover {
    opacity: 0.8;
}
