.card-wrapper {
    width: 250px;
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.card-wrapper .card-body {
    height: 250x;
    width: 100%;
}

.card-wrapper .card-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}

.card-wrapper .card-body img:hover {
    transform: scale(1.05);
}

.card-wrapper .card-footer {
    margin-top: -60px;
    position: absolute;
    margin-left: 50px;
}

.card-footer button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.card-footer button:hover {
    color: white;
    background-color: green;
}

.card-wrapper .favourite {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: white;
    opacity: 0.5;
    margin-top: -340px;
    margin-left: 200px;
    position: absolute;
}

.card-wrapper .favourite .icon {
    margin-top: 7px;
    position: absolute;
}

.card-wrapper .favourite .icon .add {
    margin-left: 9px;
}

.card-wrapper .favourite .icon .remove {
    margin-left: 11px;
}

.card-wrapper .favourite:hover {
    opacity: 0.8;
}
