.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-cards::after {
    content: '';
    flex: auto;
}

.cats {
    text-align: left;
}

.cats h1 {
    margin-left: 10px;
}

.categ {
    text-align: left;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 370px;
    gap: 20px;
    /* justify-content: space-between; */
}

.categ::-webkit-scrollbar {
    display: none;
}

.btn-wrapper {
    text-align: right;
    margin-bottom: 15px;
}

.btn-wrapper .sort {
    margin-right: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.btn-wrapper .sort:hover {
    color: white;
    background-color: green;
}

.btn-wrapper .cat {
    margin-right: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.btn-wrapper .cat:hover {
    color: white;
    background-color: green;
}

.load-more {
    width: 200px;
    border-radius: 5px;
    height: 40px;
    background-color: green;
    color: white;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}