.home-wrapper {
    margin: 10px 20px;
    /* width: 90vw; */
}

.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.cats {
    text-align: left;
}

.categ {
    text-align: left;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 320px;
    gap: 30px;
    /* justify-content: space-between; */
}

.categ::-webkit-scrollbar {
    display: none;
}

.btn-wrapper {
    text-align: right;
    margin-bottom: 15px;
}

.btn-wrapper .sort {
    margin-right: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.btn-wrapper .cat {
    margin-right: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.load-more {
    width: 200px;
    border-radius: 5px;
    height: 40px;
    background: green;
    color: white;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px){
    
}

@media screen and (min-width: 481px) and (max-width: 768px){
    
}