.home-wrapper {
    margin: 10px 20px;
}

.home-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-gap: 70px; */
    row-gap: 20px;
}

.cats {
    text-align: left;
}

.categ {
    text-align: left;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 320px;
    gap: 30px;
    /* justify-content: space-between; */
}

.categ::-webkit-scrollbar {
    display: none;
}