.navbar-wrapper {
    margin-left: 7.5%;
    width: 85vw;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.navbar-wrapper .name {
    font-weight: 600;
}

.navbar-wrapper .links-wrapper ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
}

.navbar-wrapper .links-wrapper ul li a {
    text-decoration: none;
    color: grey;
}

.navbar-wrapper .links-wrapper ul li a:hover {
    color: green;
}

.menu-toggler {
    display: none;
    margin-top: 20px;
}

@media screen and (max-width: 480px){
    .menu-toggler {
        display: block;
    }

    .navbar-wrapper .links-wrapper ul {
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 2;
        background: white;
        width: 100%;
        text-align: right;
    }

    .navbar-wrapper .links-wrapper ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}