.navbar-wrapper {
    margin-left: 7.5%;
    width: 85vw;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.navbar-wrapper .name {
    font-weight: 600;
}

.navbar-wrapper .links-wrapper button {
    text-decoration: none;
    padding: 30px;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    border: 0px;
    cursor: pointer;
    color: grey;
}

.navbar-wrapper .links-wrapper button:hover {
    opacity: 1;
}

.navbar-wrapper .links-wrapper button a {
    text-decoration: none;
    color: grey;
}