/* .search-form {
    display: flex;
    position: relative;
} */

.search-form .search-icon {
    position: absolute;
    margin-top: 12px;
    margin-left: 15px;

}

.search-form .search-input {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0.1px teal;
    padding-left: 50px;
    border: none;
}

.search-input:focus, .search-input:hover {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0.1px teal;
}

.results-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.results-wrapper::after {
    content: '';
    flex: auto;
}

@media screen and (max-width: 480px){
    .search-form .search-input {
        width: 300px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .search-form .search-input {
        width: 350px;
    }
}